<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iop.org.iop_sdk_android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".core.service.server_broker.PlatformServiceImp"
            android:process=":connect_service"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="iop.org.iop_sdk_android.core.service.server_broker.PlatformService"/>
            </intent-filter>
            </service>

        <receiver android:name="iop.org.iop_sdk_android.core.receivers.ReceiverBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                    </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
