<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.furszy.contacts">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true">
        <activity android:name="org.furszy.contacts.MainActivity"/>
        <activity android:name="org.furszy.contacts.StartActivity">

        </activity>
        <activity android:name="org.furszy.contacts.ProfileActivity"></activity>

        <activity android:name="org.furszy.contacts.ProfileInformationActivity">
            <intent-filter android:autoVerify="true">
                <data android:scheme="IoP"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".scanner.ScanActivity"/>
        <activity android:name="org.furszy.contacts.BaseDrawerActivity"></activity>
        <activity android:name="org.furszy.contacts.RestoreActivity"></activity>
        <activity android:name=".ui.other_profile.OtherProfileActivity"/>
        <activity android:name="org.furszy.contacts.CreateProfileActivity"  />
        <activity android:name=".ui.settings.SettingsActivity"></activity>
        <activity android:name=".ui.settings_restore.SettingsRestoreActivity"></activity>
        <activity android:name=".ui.settings_backup.SettingsBackupActivity"></activity>
        <activity android:name=".ui.settings_backup_process.SettingsBackupPasswordActivity"></activity>
        <activity android:name=".ui.settings_backup_folder.SettingsBackupFolderActivity"></activity>
        <activity android:name=".ui.my_qr.MyQrActivity"></activity>
        <activity android:name=".contacts.ProfilesInformationActivity"/>
        <activity android:name=".requests.PairingRequestsActivity"/>

        <activity android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chat.contact_list.ChatContactActivity">

        </activity>

        <activity android:name=".ui.chat.ChatActivity"
            >

        </activity>
        <activity android:name=".ui.chat.WaitingChatActivity">
        </activity>

        <activity android:name=".ui.send_request.SendRequestActivity"/>

        <service android:name="iop.org.iop_sdk_android.core.profile_server.IoPConnectService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.furszy.contacts.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>